/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrap {
  border: 1px solid;
  border-color: pink;
  //padding: 0px 4px 4px 0;
}
