<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <mat-card>
      <!-- <mat-tab-group> -->
      <!-- <mat-tab> -->
      <mat-card-header style="background-color: azure">
        <!-- <ng-template mat-tab-label> -->
        <h2>Sales</h2>
        <!-- </ng-template> -->
      </mat-card-header>
      <mat-list class="conversations">
        <mat-list-item
          *ngFor="let sala of llistaSales | async"
          (click)="escollirSala(sala.id)"
        >
          <mat-icon matListIcon>forum</mat-icon>
          <span>{{ sala.nom }} </span
          ><!-- <mat-chip style="padding: 9px;">{{ sala.nombreUsuaris }}</mat-chip> -->
        </mat-list-item>
        <mat-list-item>
          <mat-chip>
            <mat-icon
              matListIcon
              (click)="mostraInput = mostraInput ? false : true"
              >add</mat-icon
            >
          </mat-chip>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field class="full-width" *ngIf="mostraInput">
            <input
              matInput
              placeholder="Nom..."
              [(ngModel)]="nomSalaNova"
              (keyup)="$event.keyCode === 13 && crearSala()"
            />
            <mat-icon matSuffix (click)="crearSala()">send</mat-icon>
          </mat-form-field>
        </mat-list-item>
      </mat-list>
      <!-- </mat-tab> -->
      <!-- </mat-tab-group> -->
    </mat-card>
  </mat-sidenav>
  <mat-sidenav
    position="end"
    mode="side"
    opened
    *ngIf="(salaActivaObs | async)?.id"
  >
    <mat-card>
      <mat-list class="members">
        <mat-list-item *ngFor="let user of llistaUsuaris | async">
          <p *ngIf="(salaActivaObs | async)?.id===user.connectatASala"
          [ngStyle]="{'font-weight':user.id === usuari.id ? 'bold': 'normal'}"
          >
          {{ user.nom }}
        </p>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </mat-sidenav>
  <section class="empty-conversation" *ngIf="!(salaActivaObs | async)?.id">
    <h2 class="mat-display-1">Escull la sala on vols entrar a l'esquerra</h2>
  </section>
  <section *ngIf="salaActivaObs | async as salaActiva">
    <div class="mat-typography conversation-header">
      <h2 style="align-content: center;">
        <mat-icon>forum</mat-icon>
        &nbsp; {{ salaActiva.nom }}
      </h2>
      <!-- <p>
        <mat-icon>account_circle</mat-icon>
         {{(selectedConversation.members | keys).length}}  Members</p> 
        &nbsp; {{ salaEscollida.nombreUsuaris }} Membres
      </p> -->
    </div>

    <mat-divider></mat-divider>
    <mat-list dense class="conversation-history mat-typography" #scrollMe>
      <mat-list-item
        *ngFor="let miss of llistaMissatges | async; index as i"
        [dir]="miss.userId === usuari.id ? 'rtl' : 'ltr'"
      >
        <!-- <img *ngIf="event.type == 'text'" matListAvatar matTooltip="{{selectedConversation.members[event.from].user.name}}" src="https://randomuser.me/api/portraits/thumb/lego/{{i}}.jpg" -->
        <!-- <img
          matListAvatar
          src="https://randomuser.me/api/portraits/thumb/lego/2.jpg"
        /> -->
        <!--           <p *ngIf="event.type == 'text'" [dir]="'ltr'">{{event.body.text}}</p>
        <p *ngIf="event.type == 'member:joined'" class="text-center">
          <b>{{selectedConversation.members[event.from].user.name}}</b> has joined the conversation</p> -->
        <p [dir]="'ltr'"></p>
        <!-- <p class="text-center"><b></b> ha entrat a la sala</p> -->
        <p
          class="text-center"
          [ngStyle]="{
            'background-color':
              miss.userId === usuari.id
                ? 'rgba(255, 160, 122, 0.7)'
                : 'rgba(255, 160, 122, 0.4)'
          }"
          style="border-radius: 10px 20px; width: 60%; font-size: medium"
        >
          {{ miss.text }}
        </p>
      </mat-list-item>
    </mat-list>

    <div class="conversation-input">
      <mat-divider></mat-divider>
      <mat-form-field class="full-width">
        <!-- <input matInput placeholder="Start chatting..." name="text" /> -->
        <!-- [(ngModel)]="text"> -->
        <!-- <mat-icon matSuffix (click)="sendText(text)">send</mat-icon> -->

        <input
          matInput
          placeholder="Start chatting..."
          [(ngModel)]="newMessage.text"
          (keyup)="$event.keyCode === 13 && enviarMissatge()"
        />
        <mat-icon matSuffix (click)="enviarMissatge()">send</mat-icon>
      </mat-form-field>
    </div>
  </section>
</mat-sidenav-container>
