.mat-nav-list {
  //background-color: lightgrey;
  // padding-block:  15px!important;
  //height: 50px !important; /* default is 72px */
  width: 100% !important;
}


/* 
.top {
  vertical-align: top!important;
}
 */
/* 
.pad {
  padding: 5px;
} */
