<mat-grid-list cols="1" rowHeight="80px" class="top">
  <mat-grid-tile colspan="1" rowspan="1" class="wrap">
    <h2>Sales disponibles</h2>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1" class="wrap">
    <mat-nav-list>
      <mat-list-item
        *ngFor="let sala of sales"
        [routerLink]="['/xat', sala.id]"
      >
        <a>
          {{ sala.nom }}
          <span *ngIf="sala.descripcio">{{ sala.descripcio }}</span>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-grid-tile>
</mat-grid-list>
