<mat-grid-list cols="1" rowHeight="100px">
  <mat-grid-tile colspan="1" rowspan="1" class="wrap"></mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="3" class="wrap">
    <mat-card class="mat-typography login">
      <h1>Entra</h1>
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <mat-form-field class="full-width">
          <input
            class="form-control"
            matInput
            placeholder="Enter email"
            formControlName="email"
            required
            autocomplete="username"
          />
        </mat-form-field>
        <br />
        <mat-form-field class="full-width">
          <input
            type="password"
            matInput
            placeholder="Enter password"
            formControlName="password"
            autocomplete="current-password"
          />
        </mat-form-field>
        <br />
        <button type="submit" mat-raised-button color="primary">Login</button>
      </form>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
